/* ######## Splashpage ######## */
.dark-row, .light-row {
    padding: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.dark-row {
    background-color: rgb(0, 120, 160);
}

.dark-row p {
    background-color: rgb(0, 120, 160);
    color: white;
}

.light-row {
    background-color: rgb(215, 244, 255);
}

.hero {
}

.additional-info {
}

.work-from-anywhere {
}

.footer {
}

.theme-button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(240, 128, 43);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 8px;
    width: 330px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    vertical-align: middle;
    margin-top: 20px;
}

.theme-button:hover {
    background-color: rgb(139, 60, 0);
}

.theme-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.theme-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.theme-button:hover span {
    padding-right: 25px;
}

.theme-button:hover span:after {
    opacity: 1;
    right: 0;
}

.row .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: rgba(255, 255, 255, 0);
}

nav.navbar {
    margin-bottom: 0px;
    border: 1px solid transparent;
    background-color: rgb(215, 244, 255);
}

img {
    width: 100%;
}

/* ######## APP.CSS ######## */

.panel a {
    text-decoration: none !important;
}

div .panel {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

/* ######## KEYWORDS ######## */

.keyword-list-green,
.keyword-list-red {
    margin: 10px;
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.keyword-list-green {
    color: #00994d
}

.keyword-list-red {
    color: #990000
}

.keyword>.glyphicon {
    vertical-align: baseline;
}

.keyword>p {
    padding: 7px;
    margin: 3px;
    border-radius: 12px;
    display: inline-flex;
    color: white;
    word-break: break-word;
    max-width: 90%;
}

.keyword-green {
    background: #00994d;
}

.keyword-red {
    background: #990000;
}

/* ######## BACKGROUNDS ######## */

.background-revnavy {
    background-color: #294777;
}

.background-revnavy {
    background-color: #294777;
}

/* ######## EXTRAS ######## */

.cursor-pointer {
    cursor: pointer;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
}

/* ######## PAPERBODY.CSS ######## */

.highlight-match {
    background: #83ddb2;
}

.highlight-good {
    background: #83ddb2;
}

.highlight-bad {
    background: #eeab9e;
}

:root {
    /* :root is a way of saying "the outer-most element" */
    --include-color: #83ddb2;
    --dark-include-color: #00994d;
    --maybe-color: #cde9ff;
    --dark-maybe-color: #004d99;
    --exclude-color: #eeab9e;
    --dark-exclude-color: #990000;
}

/* ######## Panels ######## */

.paper-review-col {
    height: 90vh;
}

.panel-group {
    height: 100%;
    overflow-y: scroll;
    padding-right: 5px;
}

.panel-heading {
    cursor: pointer !important;
}

.paper-review-col .panel-title {
    color: black !important;
    /* Settings add Ellipses */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.full-title {
    width: 90%;
}

.decisionbutton {
    margin-top: 10px;
    width: 100%;
    background-color: white;
    border-color: rgb(0, 0, 0);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.decisionbutton:hover {
    border-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.2), 3px 2px 15px 0 rgba(0, 0, 0, 0.19);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(67, 67, 67);
}

::-webkit-scrollbar-track {
    background-color: rgb(183, 183, 183);
    border-radius: 10px;
}