/* ######## APP.CSS ######## */

.panel a {
    text-decoration: none !important;
}

div .panel {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

/* ######## KEYWORDS ######## */

.keyword-list-green, .keyword-list-red {
    margin: 10px;
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.keyword-list-green {
    color: #00994d
}

.keyword-list-red {
    color: #990000
}

.keyword>.glyphicon {
    vertical-align: baseline;
}

.keyword>p {
    padding: 7px;
    margin: 3px;
    border-radius: 12px;
    display: inline-flex;
    color: white;
    word-break: break-word;
    max-width: 90%;
}

.keyword-green {
    background: #00994d;
}

.keyword-red {
    background: #990000;
}

/* ######## BACKGROUNDS ######## */

.background-revnavy {
    background-color: #294777;
}

.background-revnavy {
    background-color: #294777;
}

/* ######## EXTRAS ######## */

.cursor-pointer {
    cursor: pointer;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
}

.nav-dropdown-icon {
    color: white;
}

/* ######## PAPERBODY.CSS ######## */

.highlight-match {
    background: #83ddb2;
}

.highlight-good {
    background: #83ddb2;
}

.highlight-bad {
    background: #eeab9e;
}

:root {
    /* :root is a way of saying "the outer-most element" */
    --include-color: #83ddb2;
    --dark-include-color: #00994d;
    --maybe-color: #cde9ff;
    --dark-maybe-color: #004d99;
    --exclude-color: #eeab9e;
    --dark-exclude-color: #990000;
}

/* ######## Panels ######## */

.paper-review-col {
    height: 90vh;
}

.panel-group {
    height: 100%;
    overflow-y: scroll;
    padding-right: 5px;
}

.panel-heading{
    cursor: pointer !important;
}

.paper-review-col .panel-title{
    color: black !important;
    /* Settings add Ellipses */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.full-title {
    width: 90%;
}

.decisionbutton {
    margin-top: 10px;
    width: 100%;
    background-color: white;
    border-color: rgb(0, 0, 0);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.decisionbutton:hover {
    border-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.2), 3px 2px 15px 0 rgba(0, 0, 0, 0.19);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgb(67, 67, 67);
}

::-webkit-scrollbar-track{
	background-color: rgb(183, 183, 183);
	border-radius: 10px;
}

.rev-navbar {
    background-color: #294777 !important;
}

.color-white {
    color: white !important;
}

.rev-checkbox-button{
    border: none;
    border-radius: 20px;
    color: white;
    overflow: hidden;
    outline: none;
    position: relative;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 1rem 2rem;
    font-size: 1em;
    margin: 5px;
    -webkit-filter: brightness(100%);
}

.rev-checkbox-button.focusOn,
.rev-checkbox-button:hover{
    -webkit-filter: brightness(70%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.rev-checkbox-button.lg{ 
    width: 250px;
}

.rev-checkbox-button.default.enabled{
    background: rgb(82, 174, 213);
}

.rev-checkbox-button.green.enabled{
    background: rgb(40, 180, 124);
}

.rev-checkbox-button.red.enabled{
    background: rgba(220, 73, 58, 1);
}

.rev-checkbox-button.gray.enabled{
    background: #5f5f5f;
}

.rev-checkbox-button.green.disabled,
.rev-checkbox-button.red.disabled,
.rev-checkbox-button.gray.disabled,
.rev-checkbox-button.default.disabled{
    background: #a4a6a9;
    text-decoration: line-through;
}

.container-grid{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 10px;
}