$black: #464646;
$green: rgb(40, 180, 124);  
$red: rgba(220, 73, 58, 1); 
$blue: rgb(82, 174, 213);;
$gray: #5f5f5f;

$light-green: rgb(64, 196, 143);  
$light-red: rgb(229, 121, 109); 
$light-blue: rgb(114, 190, 222);;
$light-gray: #cdcdcd;

$dark-green: rgb(30, 132, 91);  
$dark-red: rgb(159, 44, 31); 
$dark-blue: rgb(34, 111, 144);;
$dark-gray: #3b3b3b;

$snow: rgb(240, 240, 240);
$revnavy: #294777;

$green-highlight: #00994d;
