.panel-group {
    height: 100%;
    overflow-y: scroll;
    padding-right: 5px;
}

.paper-review-col {
    height: 90vh;
    .panel {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
        a {
            text-decoration: none;
        }
        .paper-panel-header {
            border: 0;
            border-radius: 2px;
            padding: 10px 15px;
            cursor: pointer !important;
            display: block;
            @include setBgColorAndHover($light-gray);
            @include transition(all .3s ease);
            .title {
                color: black !important;
                /* Settings add Ellipses */
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 14px;
            }
            &.default,
            &.maybe {
                @include setBgColorAndHover($light-blue);
            }
            &.include {
                @include setBgColorAndHover($light-green);
            }
            &.exclude {
                @include setBgColorAndHover($light-red);
            }
            &.none,
            &.undecided {
                @include setBgColorAndHover($light-gray);
            }
        }
    }
    .full-title {
        width: 90%;
    }
    .decisionbutton {
        margin-top: 10px;
        width: 100%;
        background-color: white;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }
    .decisionbutton:hover {
        box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.2), 3px 2px 15px 0 rgba(0, 0, 0, 0.19);
    }
}