.panel-group {
    height: 100%;
    overflow-y: scroll;
    padding-right: 5px;
}

.paper-review-col {
    height: 90vh;

    .panel{
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    
        a {
            text-decoration: none !important;
        }

        .paper-panel-header{
            border: 0;
            border-radius: 2px;
            padding: 10px 15px;
            cursor: pointer !important;
            display: block;
            background: lightgray;
            -webkit-filter: brightness(100%);

            .title{
                color: black !important;
                /* Settings add Ellipses */
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                margin-top: 0;
                margin-bottom: 0;
                font-size: 14px;
            }

            &.default,
            &.blue{
                background: $light-blue;
            }
            &.green{
                background: $light-green   
            }
            &.red{
                background: $light-red 
            }
            &.gray{
                background:$light-gray
            }

            &:hover{
                -webkit-filter: brightness(85%);
                -webkit-transition: all 0.1s ease;
                -moz-transition: all 0.1s ease;
                -o-transition: all 0.1s ease;
                -ms-transition: all 0.1s ease;
                transition: all 0.1s ease;
            }
        }    
    }

    .full-title {
        width: 90%;
    }
    
    .decisionbutton {
        margin-top: 10px;
        width: 100%;
        background-color: white;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }
    
    .decisionbutton:hover {
        box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.2), 3px 2px 15px 0 rgba(0, 0, 0, 0.19);
    }
    
}
