/* ######## INDEX.CSS ######## */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* ######## APP.CSS ######## */

div .row, .paper-review-col, .Papers, table, tbody {
    height: 100%;
}

div .container-fluid {
    height: 90vh;
}

.panel a {
    text-decoration: none !important;
}

div .panel {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

/* Overides Bootstrap Styles
Forces navbar to hug sides */

.navbar {
    border-radius: 0px !important;
    border: none !important;
}

.navbar {
    min-height: 80px !important;
}

.navbar-brand {
    padding: 0 15px !important;
    height: 80px;
    line-height: 80px !important;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}

.add-word-form {
    font-weight: 500 !important;
    background-color: #eaeaea !important;
}

.keyword-list-green, .keyword-list-red {
    margin: 10px;
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.keyword-list-green {
    color: #00994d
}

.keyword-list-red {
    color: #990000
}

.keyword>.glyphicon {
    vertical-align: baseline;
}

.keyword>p {
    padding: 7px;
    margin: 3px;
    border-radius: 15px;
    display: inline-flex;
    color: white;
    word-break: break-word;
    max-width: 90%;
}

.keyword-green {
    background: #00994d;
}

.keyword-red {
    background: #990000;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        padding-top: 26.5px;
        padding-bottom: 26.5px;
        line-height: 27px;
    }
}



/* ######## PAPERBODY.CSS ######## */
.highlight-match {
    background: #83ddb2;
}

.highlight-good {
    background: #83ddb2;
}

.highlight-bad {
    background: #eeab9e;
}

:root {
    /* :root is a way of saying "the outer-most element" */
    --include-color: #83ddb2;
    --dark-include-color: #00994d;
    --maybe-color: #cde9ff;
    --dark-maybe-color: #004d99;
    --exclude-color: #eeab9e;
    --dark-exclude-color: #990000;
}

.paper {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-bottom: 12px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    /* Disables Text Selection */
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome and Opera */
}

.paper {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
}

.paper:hover {
    background-color: #b7b7b7;
}

.title h4 {
    text-overflow: ellipsis;
    width: 100%;
    /* Required properties to achieve text-overflow */
    white-space: nowrap;
    overflow: hidden;
}

.full-title {
    width: 90%;
}

.decisionbutton {
    margin-top: 10px;
    width: 100%;
    background-color: white;
    border-color: rgb(0, 0, 0);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.decisionbutton:hover {
    border-color: rgb(0, 0, 0);
    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.2), 3px 2px 15px 0 rgba(0, 0, 0, 0.19);
}