.Paper{
    margin-left: auto; margin-right: auto;
    border-radius: 10px;
    width: 100%;
    border-radius: 10px;
    margin-left: auto; margin-right: auto;
}

.paperheader {
    text-align: center;
}

.grow {
    height: 0px;
    margin: 5px 1% 5px 1%;
    position: relative;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    overflow: hidden;
    width: 90%;
}

.decisionbutton {
    margin-top: 10px;
    width: 10%;
}

.decisionbutton button {
    width: 100%;
    border-color: rgba(255, 255, 255, 0);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.decisionbutton button:hover {
    border-color: black;
    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.2), 3px 2px 15px 0 rgba(0, 0, 0, 0.19);
}

td h4 .label {
    display: block;
    text-align: center;
}